# Discord Bot Token
DISCORD_TOKEN=

# Guild ID for instant slash-command sync
DISCORD_GUILD_ID=

# MySQL Database
# Use 127.0.0.1 if the db is on the same server as the bot
DB_HOST=127.0.0.1
# Default MySQL Port is 3306
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
# Recommended to keep this on true
DB_AUTOCOMMIT=true

# Ticket blacklist webhook URL
TICKET_BLACKLIST_WEBHOOK=